.form_content {
  width: 510px;
  padding: 0 16px;
}

.form_title {
  padding: 16px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form_action {
  padding: 16px;
}

.question {
  display: flex;
  align-items: center;
}
