.form_content {
  width: 500px;
  padding: 0 16px !important;
}

.form_title {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form_action {
  padding: 16px !important;
}
