.form_content {
  width: 498px;
  padding: 0 16px 32px 16px;
  max-height: 300px;
  overflow: auto;
}

.table {
  border-collapse: collapse;
}

.form_title {
  width: 498px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
