.ml-auto {
  margin-left: auto;
}

.d-flex {
  display: flex;
}

.d-inline {
  display: inline;
}

.mr-4px {
  margin-right: 4px;
}

.mt-0 {
  margin-top: 0;
}

.mt-auto {
  margin-top: auto;
}

.mr-auto {
  margin-right: auto;
}
