.button {
  text-transform: initial;
}

.checkbox {
  padding: 0 !important;
  margin-right: 27px !important;
}

.answer_input {
  display: flex;
  align-items: center;
  margin-top: 16px;
}
